@import "./../abstracts/variables";
@import "./../abstracts/mixins";

.header {
	height: 5rem;
	margin: 2rem 0 2rem 0;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		// @include pc {

		// }

		.header__link-root {
			@include pc {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
			}

			@include pc-larger {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
			}

			.header__logo {
				width: 9rem;
				height: 3.3rem;
				vertical-align: middle;
				@include tablet {
					width: 12rem;
					height: 4rem;
				}

				@include pc {
					width: 12.5rem;
					height: 4.3rem;
				}

				@include pc-larger {
					width: 12.5rem;
					height: 4.3rem;
				}
			}
		}

		// nav mobile
		.header-group {
			@include pc {
				height: 6rem;
			}

			@include pc-larger {
				height: 6rem;
			}

			&__hbs {
				display: block;
				width: 4rem;
				height: 4rem;
				position: relative;
				cursor: pointer;

				@include pc {
					display: none;
				}

				@include pc-larger {
					display: none;
				}

				.btn-hbs {
					width: 2.5rem;
					height: 3.5px;
					cursor: pointer;
					background-color: $text-color;
					border-radius: 3px;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					transition: ease 0.3s;

					&::after,
					&::before {
						content: "";
						position: absolute;
						width: 2.5rem;
						height: 3.5px;
						background-color: $text-color;
						border-radius: 3px;
						transition: ease 0.3s;
					}

					&::after {
						transform: translateY(-9px);
					}

					&::before {
						transform: translateY(9px);
					}
				}
			}

			&__hbs.active .btn-hbs {
				background: transparent;
			}

			&__hbs.active .btn-hbs::after {
				transform: rotate(45deg);
			}

			&__hbs.active .btn-hbs::before {
				transform: rotate(-45deg);
			}

			#check-nav:checked + .header-list {
				opacity: 1;
				visibility: visible;
			}

			// nav mobile
			.header-list {
				position: absolute;
				right: 0;
				width: 60%;
				border-radius: 1rem;
				height: auto;
				background-color: $bgr-nav-mobile;
				text-align: right;
				margin-top: 1rem;
				padding-top: 1rem;
				overflow: hidden;
				opacity: 0;
				visibility: hidden;
				z-index: 200;

				.header-item {
					order: 5;
				}
				.header-link {
					font: {
						size: 1.6rem;
						weight: bold;
					}
					color: $text-color;
					padding: 1rem;
					display: inline-block;
					line-height: 1.8rem;
					margin-right: 1rem;
				}

				.sign-up {
					background-color: $blue-deep-color;
					color: $white-color;
					border-radius: 2rem;
					@include pc {
						margin: 0;
						padding: 14px 22px;
						border-radius: 2.5rem;
						color: $white-color;
					}

					@include pc-larger {
						margin: 0;
						padding: 14px 22px;
						border-radius: 2.5rem;
						color: $white-color;
					}
				}

				@include pc {
					.item-sign-up {
						order: 6;
					}
				}

				@include pc-larger {
					.item-sign-up {
						order: 6;
					}
				}

				@include pc {
					height: 100%;
					opacity: 1;
					visibility: visible;
					left: 0;
					display: flex;
					align-items: center;
					width: 100%;
					background-color: transparent;
					padding: 0;
					margin: 0;
				}

				@include pc-larger {
					height: 100%;
					opacity: 1;
					visibility: visible;
					left: 0;
					display: flex;
					align-items: center;
					width: 100%;
					background-color: transparent;
					padding: 0;
					margin: 0;
				}

				.break-space {
					order: 6;
				}

				// search mobile
				.search-mobile {
					display: block;
					background-color: $blue-deep-color;
					margin-top: 1rem;
					padding: 0.5rem 2rem;
					color: $white-color;

					@include pc {
						margin: 0;
						background-color: transparent;
						color: $text-color;
						padding: 0;
						margin-right: 2rem;
						flex-grow: 1;
					}

					@include pc-larger {
						margin: 0;
						background-color: transparent;
						color: $text-color;
						padding: 0;
						margin-right: 2rem;
						flex-grow: 1;
					}

					.txt-search {
						margin: 0;
						color: $white-color;

						@include pc {
							color: $text-color;
						}
					}

					.icon-search-mb {
						font: {
							size: 1.4rem;
							weight: 600;
						}
						position: relative;
						top: 2px;
					}
				}
			}
		}

		// tìm kiếm mobile
		.wrap-search {
			z-index: 300;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(0, 0, 0, 0.5);
			display: none;

			.box-search {
				@include positionAlign("near-top");
				background-color: $white-color;
				width: 85%;
				border-radius: 1rem;
				overflow: hidden;

				.input-search {
					width: 100%;
					padding: 1.5rem;
					font: {
						size: 2rem;
						weight: 700;
					}

					&::placeholder {
						color: $ddd-color;
					}
				}

				.des-search {
					background-color: $blue-deep-color;
					color: $white-color;
					padding: 1.5rem;
					font-size: 1.3rem;
				}
			}
		}
		.wrap-search.active {
			display: block;
		}
	}
}
